%div.side-bar
  %section.CategoryMenu
    %ul.category
      %li.category__list.active
        .icon 
          =icon("fas", "bell")
        .title
          最新のお知らせ
      %li.category__list 
        .icon 
          =icon("fas", "book")
        .title
          カテゴリ
          .accordion
          =icon("fas","caret-down")
      %li.category__list
        .icon 
          =icon("fas", "clock")
        .title
          = link_to('時間カフェ計算', jikancafe_index_path)
  %section.ItemMenu
    %ul.item
      %li#additem
        =link_to new_top_path do
          =icon("fas","plus")
      %li
        #title
          = link_to('ホールケーキの発注', '#')
        #date
          2020/03/28
      %li
        #title
          = link_to('クレジット機 接続不良の対処', '#')
        #date
          2020/03/25
      %li
        #title
          = link_to('テラス席カーテンの開閉', '#')
        #date
          2020/03/25
      %li
        #title
          = link_to('現行貸切プラン、料金設定一覧', '#')
        #date
          2020/03/22
      %li
        #title
          = link_to('ホールケーキの予約対応', '#')
        #date
          2020/03/21
      %li
        #title
          = link_to('生クリームの作り方', '#')
        #date
          2020/03/21

