<h1 class="title"> 時間カフェ計算
<ul class="tabmenu">
  <li class="tab-btn active"><a href="#1">k1</a></li>
  <li class="tab-btn"><a href="#2">k2</a></li>
  <li class="tab-btn"><a href="#3">k3</a></li>
  <li class="tab-btn"><a href="#4">k4</a></li>
  <li class="tab-btn"><a href="#5">k5</a></li>
  <li class="tab-btn"><a href="#6">k6</a></li>
  <li class="tab-btn"><a href="#7">k7</a></li>
  <li class="tab-btn"><a href="#8">k8</a></li>
  <li class="tab-btn"><a href="#9">k9</a></li>
  <li class="tab-btn"><a href="#10">k10</a></li>
</ul>

<ul class="contents">
  <li class="content show" id="1"><%= render partial:'form'%>1</li>
  <li class="content" id="2"><%= render partial:'form'%>2</li>
  <li class="content" id="3"><%= render partial:'form'%></li>
  <li class="content" id="4"><%= render partial:'form'%></li>
  <li class="content" id="5"><%= render partial:'form'%></li>
  <li class="content" id="6"><%= render partial:'form'%></li>
  <li class="content" id="7"><%= render partial:'form'%></li>
  <li class="content" id="8"><%= render partial:'form'%></li>
  <li class="content" id="9"><%= render partial:'form'%></li>
  <li class="content" id="10"><%= render partial:'form'%></li>
</ul>

